.workout-details span.edit {
  right: 70px;
}

.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  color: #333;
  background: #fff;
  transition: background 0.4s;
}

.workout-details span:hover {
  background: rgba(217, 30, 24, 0.5);
}

.workout-details span.edit:hover {
  background: rgba(72, 113, 247, 0.5);
}

.workout-details:hover {
  box-shadow: 0 8px 32px 0 rgba(18, 31, 225, 0.37);
}
