<div class="container">
  <div class="glass">
    <div class="login-form">
      <span class="material-symbols-outlined md-100">person</span>
    </div>

    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <input type="email" id="email" name="email" placeholder="Email" class="login-input lightgrey">
      <i class="far fa-user login-input-icon"></i>

      <input type="password" id="password" name="password" placeholder="Password" class="login-input lightgrey">
      <i class="fas fa-key login-input-icon"></i>

      <div class="login-form">
        <button type="submit" class="login-input login-text-large login-button">Login</button>
        <a routerLink="signup" class="login-text-small">Dont have account? Signup now</a>
      </div>
    </form>
  </div>
</div>