<div class="app">
  <app-navbar></app-navbar>
  <div class="pages">
    <div class="home">
      <div class="workouts-container">
        <!-- <div class="workouts" *ngFor="let workout of workouts2$|async">
          <app-workout-detail [workout]="workout"></app-workout-detail>
        </div> -->
        <app-workout-detail @workoutListState class="workouts" *ngFor="let workout of workouts2$|async"
          [workout]="workout">
        </app-workout-detail>
      </div>
      <div class="workout-form">
        <app-workout-form></app-workout-form>
      </div>
    </div>
  </div>
</div>